body{
    background: center;
    background-image: url(media/b1.jpg);
}

.title{
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.atit{
    text-decoration: none;
}

.inline-block {
    text-align: center;
}

.inline-block li {
    display: inline-block;
}

  ul {
      list-style-type: none;
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Yusei Magic', sans-serif;
      }

  .li1 {
      /* background:#afeeee; */
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
    background: rgba(0, 174, 255, 0.5);
    color: #fff;
  }

  .li2 {
    background:rgba(0, 255, 242, 0.486);
    width: 100px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }


  .li3 {
      background:#00ffc87e;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li4 {
      background: #00ffc87e;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li5 {
      background: #00ff7379;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li6 {
      background: #ff009d80;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li7 {
      background:#003cff67;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li8{
    background: #0084ff67;
      width: 115px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li9{
    background: #ffd00077;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  .li10{
    background: #ff5e0077;
      width: 100px;
      height: 30px;
      padding: 10px;
      margin: 10px;
    font-size: 20px;
    border-radius:30px;
  }

  
  .a1:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #2b2b2b;
  }



.teti{
  background: rgba(255, 255, 255, 0.479);
  width: 90%;
  text-align: left;
  padding-bottom: 1%;
  padding-top: 1px;
}

.saisili{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tetip{
  font-size: 30px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;

}

.tetip2{
  font-size: 20px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  color: rgba(0, 0, 0, 0.658);
}

.soim{
  width: 70%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.soim1{
  width:90%;
  text-align: center;
  background: rgba(255, 255, 255, 0.521);
  margin-left: auto;
  margin-right: auto;
}

.sosim2{
  width: 90%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  font-family: 'Yusei Magic', sans-serif;
}

.sosim23{
  width: 90%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  font-family: 'Yusei Magic', sans-serif;
  color: red;
}

.sosim24{
  width: 90%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  font-family: 'Yusei Magic', sans-serif;
  color: blue;
}

.hrn{
  text-align: center;
}

.kakudai{
  font-size: 23px;
  font-family: 'Yusei Magic', sans-serif;
}

.kaku{
  text-align: center;
  background: rgba(0, 225, 255, 0.507);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius:30px;
}

a{
  color: #2b2b2b;
}
